/.ipynb_checkpoints
/__pycache__
models/__pycache__
new_metrics/__pycache__
new_plotting/__pycache__
utils/__pycache__
/data
/practice.ipynb
/inference
/logs
/dev
/baobab_sh
/cached*
/inference2
infer_real.py
train_real.py
log.*
*.pth
*.pkl
*.png
*.sh
*.out
jobname*



